<html>
<head>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/ember.js/1.0.0/ember.js"></script>
    <script type="text/javascript" src="static/js/gol-ember.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css"></link>
</head>
<body>
    <div class="grid" ng-controller="Grid">
        <div ng-repeat="row in grid">
            <span class="cell" ng-repeat="cell in row" ng-click="toggle($index, $parent.$index)">{{ cell }}</span>
        </div>
        <button type="button" ng-click="next()">Next</button>
    </div>
</body>
</html>